body{
  font-family: sans-serif;
}

.menu-btn{
  font-size: 24px;
  background: none;
  cursor: pointer;
}

.menu{
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.menu .show{
  display: flex;
}